/**
 * Place your custom styles here.
 */

body {
    margin-top: 0;
}
.header-wrapper {
    background-color: #339999;
}
.navbar-default {
    position: relative;
    background-color: transparent;
}
.navbar-default .navbar-brand {
    overflow: hidden;
    text-indent: -9000px;
    display: block;
    height: 0;
    background: url(../logo.svg) 5px 5px no-repeat;
    background-color: #ffffff;
    background-size: cover;
    /*padding-bottom: 24.890829694%;*/
    padding-bottom: 30%;
    border-bottom: none;
    float: none;
    margin-bottom: 10px;
    margin-left: 10px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: #ffffff;
}
.navbar--site-name {
    width:350px;
    float:left;
}
/*.navbar-default .navbar-nav {*/
    /*margin-left: 385px;*/
/*}*/
.navbar-default .navbar-nav {
    margin-bottom: 10px;
}
.navbar-default .navbar-nav > li {
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #339999;
    background-color: #ccffff;
}
.navbar-default .navbar-nav > li > a.is-active {
    color: #339999;
    background-color: #ffffff;
}
.navbar .navbar-toggle .icon-bar,
.navbar .navbar-toggle:hover .icon-bar,
.navbar .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse {
    border-color: #ffffff;
}
#block-bntsmission {
    position: absolute;
    top: 50px;
    left: 430px;
    color: #ffffff;
    max-width: 450px;
}

@media screen and (max-width:450px) {
    .navbar--site-name{
        width:260px;
    }
}
@media screen and (max-width:768px) {
    #block-bntsmission {
        display: none;
    }
}
